@model LoadTruck.Models.TruckLoad

@{
    ViewBag.Title = "Loading";
    Layout = "~/Views/Shared/nologo.cshtml";
}






@*@if (Model.hasError)
{
    <span class="test" style="color:red">
        <h3>@ViewBag.Message</h3>
    </span>
}
else
{
    <h3>@ViewBag.Message</h3>
}*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <button onclick="location.href='@Url.Action("Create", "Scan")';return false;">Scan</button>
        <button onclick="location.href='@Url.Action("Create", "Load")';return false;">Create Load</button>
    </div>
}

<div>
   @* @Html.ActionLink("Back to List", "Index", "Home")*@


</div>

<script>


      

    

    //document.getElementById("submitnext").onfocus = function () { document.getElementById('submitnext').click(); };


    function bgOn(p1) {
     
    }

    function bgOff(p1) {
        
    }


</script>
